.footer {
    margin-top: 54px;
  background-color: #222;
  color: white;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
  }

  &__left {
    width: 287px;
    &-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 130%; /* 39px */
      text-transform: uppercase;
    }

    &-text {
      font-size: 17px;
      font-weight: 400;
      line-height: 150%; /* 25.5px */
      margin-top: 10px;
    }
  }

  &__right {
width: 400px;
    &-title {
      font-size: 24px;
      font-weight: 800;
      line-height: 150%; /* 36px */
      text-transform: capitalize;
    }
    &-text {
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 17px;
      font-weight: 400;
      line-height: 150%; /* 25.5px */
      margin: 20px 0;
    }

    &--span {
        display: flex;
      &-input {
        width: 70%;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        padding: 16px;
        border-radius: 10px 0 0 10px;
        border: none;
        background: #fff;
    }
    
    &-btn {
        color: #000;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        font-weight: 800;
        line-height: 20px; /* 125% */
        padding: 15px 35px;
        background: #FFC017;
        border: none;
        border-radius: 0 10px 10px 0;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    margin-top: 54px;
  background-color: #222;
  color: white;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px 0;
  }

  &__left {

    &-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 130%; /* 39px */
      text-transform: uppercase;
    }

    &-text {
      font-size: 17px;
      font-weight: 400;
      line-height: 150%; /* 25.5px */
      margin-top: 10px;
    }
  }

  &__right {

    &-title {
      font-size: 24px;
      font-weight: 800;
      line-height: 150%; /* 36px */
      text-transform: capitalize;
    }
    &-text {
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 17px;
      font-weight: 400;
      line-height: 150%; /* 25.5px */
      margin: 20px 0;
    }

    &--span {
        display: flex;
      &-input {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        padding: 16px;
        border-radius: 10px 0 0 10px;
        border: none;
        background: #fff;
    }
    
    &-btn {
        color: #000;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        font-weight: 800;
        line-height: 20px; /* 125% */
        padding: 15px 35px;
        background: #FFC017;
        border: none;
        border-radius: 0 10px 10px 0;
      }
    }
  }
}
}

@media only screen and (max-width: 768px) {
  .footer {
    margin-top: 54px;
  background-color: #222;
  color: white;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 0;
  }

  &__left {
    width: 250px;
    &-title {
      font-size: 25px;
      font-weight: 700;
      line-height: 130%; /* 39px */
      text-transform: uppercase;
    }

    &-text {
      font-size: 15px;
      font-weight: 400;
      line-height: 150%; /* 25.5px */
      margin-top: 10px;
    }
  }

  &__right {
    width: 280px;

    &-title {
      font-size: 20px;
      font-weight: 800;
      line-height: 150%; /* 36px */
      text-transform: capitalize;
    }
    &-text {
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 15px;
      font-weight: 400;
      line-height: 150%; /* 25.5px */
      margin: 20px 0;
    }

    &--span {
        display: flex;
      &-input {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        padding: 16px;
        border-radius: 10px 0 0 10px;
        border: none;
        background: #fff;
    }
    
    &-btn {
        color: #000;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        font-weight: 800;
        line-height: 20px; /* 125% */
        padding: 15px 35px;
        background: #FFC017;
        border: none;
        border-radius: 0 10px 10px 0;
      }
    }
  }
}
}

@media only screen and (max-width: 768px) {
  .footer {
    margin-top: 54px;
  background-color: #222;
  color: white;
  &__wrapper {
    display:flex;
    margin-bottom: 30px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-around;
    padding: 60px 0;
  }

  &__left {
    width: 250px;
    &-title {
      font-size: 25px;
      font-weight: 700;
      line-height: 130%; /* 39px */
      text-transform: uppercase;
    }

    &-text {
      font-size: 15px;
      font-weight: 400;
      line-height: 150%; /* 25.5px */
      margin-top: 10px;
    }
  }

  &__right {
    width: 280px;

    &-title {
      font-size: 20px;
      font-weight: 800;
      line-height: 150%; /* 36px */
      text-transform: capitalize;
    }
    &-text {
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 15px;
      font-weight: 400;
      line-height: 150%; /* 25.5px */
      margin: 20px 0;
    }

    &--span {
        display: flex;
      &-input {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        padding: 16px;
        border-radius: 10px 0 0 10px;
        border: none;
        background: #fff;
    }
    
    &-btn {
        color: #000;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        font-weight: 800;
        line-height: 20px; /* 125% */
        padding: 15px 35px;
        background: #FFC017;
        border: none;
        border-radius: 0 10px 10px 0;
      }
    }
  }
}
}